---
layout: default
---
<main class="content" role="main">
  <article class="post">
    <div class="post-meta">
      <h1 class="post-title">{{ page.title }}</h1>
    </div>

    <section class="post-content">
      <a name="topofpage"></a>
      {{content}}
    </section>
    <footer class="post-footer">
      <p class="published"><i>Originally published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></i></p>
      <section class="share">
          <a class="icon" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=#{{ site.url }}{{ page.id }}&t={{page.title | cgi_escape}}">Share on Facebook</a>
        <a class="icon" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.id }}&text={{page.title | cgi_escape}}&via={{ site.twitter_username }}" target="_blank">
          Share on Twitter
        </a>
      </section>
    </footer>
  </article>
  <amp-iframe width=600 height=140
            layout="responsive"
            sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
            resizable
            src="https://kasmcreative.bitbucket.io#/{{ page.id }}">
      <div overflow tabindex=0 role=button aria-label="">Comments...</div>
</amp-iframe>
</main>
{% include footer.html %}